.Weather {
  border-radius: 10px;
  background-color: #04479e;
  color: white;
  padding: 16px;
  margin: 30px 0px 2px auto;
  box-shadow: 5px 5px 5px rgb(211, 211, 211);
}

.Weather h1 {
  font-size: 30px;
  font-weight: bold;
}

.Weather h2 {
  font-size: 15px;
  color: rgb(225, 225, 225);
}

.Weather .Insights {
  grid-template-columns:
    50px
    150px
    200px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.Weather .degreeshown {
  font-size: 50px;
}

.Weather .Search {
  padding-bottom: 15px;
}

.Weather .searchfield {
  font-size: 14px;
  padding: 6px;
  border-radius: 10px;
  border: white;
}

.Weather .searchbutton {
  margin-left: 5px;
  color: rgb(0, 0, 0);
  background-color: #c0dbff;
  border: white;
  border-radius: 10px;
  padding: 6px;
  font-size: 14px;
}

.Weather .searchbutton:hover {
  background-color: #74b0fe;
}

.Weather .unit {
  line-height: 12px;
}

.Weather canvas {
  margin: 10px;
}

.WeatherTemperature .unitbutton {
  margin-left: 5px;
  color: white;
  border: white;
  border-radius: 10px;
  padding: 6px;
  font-size: 14px;
  background-color: #05479d;
}

.WeatherTemperature .unitbutton:hover {
  margin-left: 5px;
  color: #05479d;
  border: white;
  border-radius: 10px;
  padding: 6px;
  font-size: 14px;
  background-color: #ffffff;
}

.Forecast {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  align-items: flex-start;
  padding-top: 20px;
  margin-bottom: 10px;
  gap: 0px 10px;
}

.Forecast .Daily {
  text-align: center;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.Forecast .Forecast-temperatures-min {
  color: grey;
  font-size: 13px;
}

.Forecast .Forecast-temperatures-max {
  font-weight: 700;
}
